<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

  <body id="page-top">

	  {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="assets/js/jquery.min.js"></script>
	  <script src="assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="assets/js/jqBootstrapValidation.js"></script>
	  <script src="assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="assets/js/agency.min.js"></script>

	  <!-- Firebase 관련 -->
  	<script type="module">
	  // Import the functions you need from the SDKs you need
	  import { initializeApp } from "https://www.gstatic.com/firebasejs/11.9.1/firebase-app.js";
	  import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.9.1/firebase-analytics.js";
	  // TODO: Add SDKs for Firebase products that you want to use
	  // https://firebase.google.com/docs/web/setup#available-libraries

	  // Your web app's Firebase configuration
	  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
	  const firebaseConfig = {
		apiKey: "AIzaSyD5kwYLcpDshduXysXoSBH1Ug7bqmpquC0",
		authDomain: "long-run-shop.firebaseapp.com",
		projectId: "long-run-shop",
		storageBucket: "long-run-shop.firebasestorage.app",
		messagingSenderId: "299893118325",
		appId: "1:299893118325:web:96b3db66ce9dae7f8c2f3c",
		measurementId: "G-40GSYN8QEX"
	  };

	  // Initialize Firebase
	  const app = initializeApp(firebaseConfig);
	  const analytics = getAnalytics(app);
	</script>
  </body>
</html>
